TYPESAFE_API_KEY=
JEV_MODEL=jev-latest
HOST=127.0.0.1
PORT=4318
APP_ORIGIN=http://127.0.0.1:4318
DATA_DIR=./data
MAX_JOB_ATTEMPTS=12000
MAX_PROVIDER_BODY_BYTES=2097152
PROVIDER_ATTEMPT_TIMEOUT_MS=45000
PROVIDER_MAX_ATTEMPTS_PER_DECISION=4
LIVE_JEV=0
